* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 30px;
    display: flex;
}

table {
    border-collapse: collapse;
    border: 3px solid black;
}

td {
    border: 3px solid black;
    width: 5em;
    text-align: center;
    
}

tr {
    border: 3px solid black;
    height: 5em;
    vertical-align: middle;
}
#replay {
    align-self: flex-end;
}
#victoryone, #victorytwo, #draw {
    display: none;
}